<div class="toolbar">
    <img
      style="margin-left: 32px;"
      width="110"
      alt="Logo"
      src="assets/Logo-RandM.png"
    />
      <div class="row" style="width: 90%; justify-content: end;">
            <div class="col-md-1" style="width: 4%;">
                <a aria-label="Icono Campana" href="" title="Campana">
                <img
                        id="iconos"
                        style="margin-left: 32px; "
                        width="15"
                        alt="Logo"
                        src="assets/IconoCampana.png"
                />
                </a>
            </div>
            <div class="col-md-1" style="width: 5%;">
                <a aria-label="Home" href="" title="Home">
                <img
                        id="iconos"
                        style="margin-left: 32px;"
                        width="20"
                        alt="Logo"
                        src="assets/Home.png"
                />
                </a>
            </div>
     </div>
  </div>
